# Environments
env/
venv/
.env

# Database
db.sqlite3

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Static files (if you collect them in production)
staticfiles/

# OS Files
.DS_Store
Thumbs.db
